/**
 * CSS for Open Sans
 * =================
 * @Install
 * https://google-webfonts-helper.herokuapp.com/fonts/open-sans?subsets=latin
 * use modern browser option and subsets you need
 * download fonts and upload to your themes font directory
 * add the CSS on top of you stylesheet and edit the paths to the current version and relative path of your themes font directory
 *
 * @Usage
 * add "font-family:'Open Sans';" everywhere you want the font.
 * you don't need to care about the font-style in the name.
 * instead use:
 * "font-weight:bold;"
 * "font-style:italic;"
 * and so on
 * as with a non-webfont
 */
@font-face{
    font-family: 'farmhouse';
    font-style: normal;
    font-weight: 300;
    src: local('farmhouse'),
    url('../fonts/farm.ttf');/* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

.text {
    font-family: 'farmhouse', sans-serif;
    color: white;
    text-shadow: black 0.1em 0.1em 0.2em;
}
