@import "font.css";

.plant, .plant-harvest {
    display: inline-table;
    text-align: center;
    width: 10em;
    border-radius: 15px;
    border: #383838 5px solid;
    background-color: rgba(189, 189, 189, 0.9);
    padding: 5px;
    margin: 5px;
    box-shadow: #383838 5px 5px 10px;
}

.plant-harvest {
    box-shadow: #4caf50 0px 0px 5px 5px;
}

.plant:active {
    box-shadow: rgba(0,0,0,0) 0px 0px 0px;
    transition: 0.2s;
}

.plant img {
    border-radius: 10px;
    box-shadow: inset 0 0 5px 5px black;
    width: 100%;
}

.plant-name {

}




